<p id="notice"><%= notice %></p>
<% if @project != nil %>
<h4><b> <%= @project.no %>   <%= @project.company %>   <%= @project.task %></b></h4>
<% end %>
<div class="file_upload_area">
	
	<% @users.each do |u| %>  
	<% if u.admin? %>
	<%= render 'form_file_upload' %>
	<% else %>
					          
	<% end %>
	<% end %>

<%= link_to '戻る', projects_path, class: 'btn btn-default' %>

</div>

<div class="file_list_area" name="file_list_area">
<table class="file_uploads">

<td valign="top">
<h4><b>議事録</b></h4>
<table class="table table-striped table-bordered table-hover table-responsive" style="table-layout:fixed;">

  <thead>
    <tr>
      <th class="file_category">分類</th>

      <th class="file_name">ファイル名</th>
      <th colspan="2">コマンド</th>
      <th class="file_date" >実施日</th>
      <th class="file_date" >更新日</th>
    </tr>
  </thead>

  <tbody>
    <%  params_project_id=@params_project_id.to_i %>
    <% @file_uploads1.each do |file_upload| %>
      <% if file_upload.project_id==params_project_id %>
        <tr>
          <td class="file_category" ><%= file_upload.category %></td>

          <td class="file_name" ><%= file_upload.file_name %></td>
          <td class="file_command" ><%= link_to '表示', file_upload %></td>
	          <% @users.each do |u| %>
		          <% if u.admin? %>
		            <td class="file_command" ><%= link_to '削除', file_upload, method: :delete, data: { confirm: '本当に削除してよろしいでしょうか。?' } %></td>
		          <% else %>
		            <td class="file_command">削除</td>
		          <% end %>
            <% end %>
          <td class="file_date" ><%= file_upload.mtg %></td>
          <td class="file_date" ><%= file_upload.updated_at.strftime('%y-%m-%d') %></td>
	      </tr>
      <% else  %>
    <% end %>
    <% end %>
  </tbody>

</table>
</td>
<td valign="top">
<h4><b>その他</b></h4>
<table align="top" class="table table-striped table-bordered table-hover table-responsive" style="table-layout:fixed;">

  <thead>
    <tr>
      <th class="file_category"  >分類</th>

     <th class="file_name">ファイル名</th>
      <th colspan="2">コマンド</th>
      <th class="file_date" >実施日</th>
      <th class="file_date" >更新日</th>
    </tr>
  </thead>

  <tbody>
    <%  params_project_id=@params_project_id.to_i %>
    <% @file_uploads2.each do |file_upload| %>
      <% if file_upload.project_id==params_project_id %>
        <tr>
          <td class="file_category" ><%= file_upload.category %></td>

          <td class="file_name" ><%= file_upload.file_name %></td>
          <td class="file_command" ><%= link_to '表示', file_upload %></td>
	          <% @users.each do |u| %>
		          <% if u.admin? %>
		            <td class="file_command" ><%= link_to '削除', file_upload, method: :delete, data: { confirm: '本当に削除してよろしいでしょうか。?' } %></td>
		          <% else %>
		            <td class="file_command">削除</td>
		          <% end %>
            <% end %>
          <td class="file_date" ><%= file_upload.mtg %></td>
          <td class="file_date" ><%= file_upload.updated_at.strftime('%y-%m-%d') %></td>
	      </tr>
      <% else  %>
    <% end %>
    <% end %>
  </tbody>

</table>
</td>

</table>

</div><!--file_list_area-->
<br>
<div class="return_link_to_top">

<%
=begin
%>
<%= link_to '入金管理画面に戻る',projects_path(:search => params[:search_word], :sort => params[:sort] )  %>
<%
=end
%>
</div>

