<h2>打刻修正</h2>
<p id="notice"><%= notice %></p>
<div>
<table class='recordtime_user'>
  <tr>
    <td> ID：<%= @user.id %> </td>
    <td> ユーザー名：<%= @user.fname %> <%= @user.gname %> </td>
    <td> 社員番号：<%= @user.usercode %> </td>
  </tr>
</table>
  
</div>
<div>
<%= form_with(model: @recordtime, :url => {:action => :recordupdate}, local: true) do |form| %>
    <div>
      ID：<%=@recordtime.id %>
    </div>
    <div>
    　打刻タイプ：<%=@recordtime.recordstate.name %>
    </div>
    <div>
      <%= form.label :'時刻' %>
      <%= form.datetime_select :rt, class: 'form-control' %>
    </div>
        
    <%= form.submit('保存',class: 'btn btn-primary my-1 mb-5 px-5') %>
    

<% end %>

</div>


<%= link_to '戻る', recordtime_path, class: 'btn btn-default' %>