<h4>ユーザー情報編集</h4>
<%= form_with(model: @user, :url => {:action => :userupdate}, local: true) do |form| %>
    <div>
        id：<%= @user.id %>
    </div>
    <div>
    email：<%= @user.email %>
    </div>
    <div>
    <%= form.label :'氏' %>
    <%= form.text_field :fname %>
    </div>
    <div>
    <%= form.label :'名' %>
    <%= form.text_field :gname %>
    </div>
    <div
    <%= form.label :'社員番号' %>
    <%= form.text_field :usercode %>
    </div>
    
    <%= form.submit('保存',class: 'btn btn-primary my-1 mb-5 px-5') %>
    

<% end %>

<%= link_to '戻る', recordtime_path, class: 'btn btn-default' %>